.contact-page {
  @include emphasize;
  @include separator;
  @include floating-nav;

  .contact-form {
    margin-top: 30px;
    padding: 50px;
    display: grid;
    grid-template-areas:
    "service service service service"
    "name name email email"
    "subject subject subject subject"
    "message message message send"
    "message message message send";

    gap: 20px;

    .contact-name { grid-area: name; }
    .contact-email { grid-area: email; }
    .contact-subject { grid-area: subject; }
    .contact-message { grid-area: message; }
    .contact-service { grid-area: service; }
    .contact-send { 
      grid-area: send;
      @include make-btn;
      background-color: #fff;
      border-width: 1px;
      margin-right: 0;
    }

    @include global-input;

    @media (max-width: $breakpoint-tablet) {
      grid-template-areas:
      "service service service"
      "name name name"
      "email email email"
      "subject subject subject"
      "message message message"
      ". send ."
    }
  }

  .additional-contact {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 50px;

    .contact-card {
      @include card;
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      grid-template-areas: 
      "icon label label"
      "icon detail detail";

      gap: 10px;

      .add-label {
        grid-area: label;
        font-weight: bold;
      }

      .contact-icon {
        @include mini-icon;
        grid-area: icon;
      }

      .add-detail {
        grid-area: detail;
        color: $para-color;
        a {
          text-decoration: none;

          &:visited {
            color: $para-color;
          }
        }
      }

      &:hover {
        .contact-icon {
          border: 2px solid $bg-color;
          color:  $bg-color;
        }

        a,
        a:visited,
        .add-detail {
          color: $bg-color;
        }

      }
    }

    @media (max-width: $breakpoint-desktop) {
      grid-template-columns: 1fr;
    }
  }
}