.portfolio-page {
  @include separator;
  @include floating-nav;

  .navigation-filter {
    margin-top: 30px;
    cursor: pointer;
    text-align: center;

    .skill-nav {
      word-break: keep-all;
      text-align: center;
      margin: 0 10px;
      white-space: nowrap;
      color: $para-color;
      display: inline-block;

      @media (max-width: $breakpoint-tablet) {
        display: block;
      }

      @include sub-header;

      &[isactive=true],
      &:hover {
        font-weight: bolder;
        color: darken($color: $base-color, $amount: 10);
      }

      &::before {
        display: grid;
        content: attr(title);
        font-weight: bolder;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }

    }
  }

  .skills-cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 20px;

    .skill-card {
      display: grid;
      place-items: center;
      color: $dark-color;
      border-radius: 30px;
      padding: 20px 5px 10px;
      min-height: 280px;
      background-color: lighten($color: $base-color, $amount: 30);

      &:hover {
        background-color: $base-color;
        color: #fff;
        font-weight: bold;
      }

      .skill-image-container {
        .skill-image {
          float: left;
          width:  350px;
          height: 280px;
          object-fit: cover;
          border-radius: 20px;
        }
      }

      .skill-label {
        padding: 10px 0;
      }
    }
  }
}