.user-background {
  display: grid;
  grid-template-areas: 
  "experiences education"
  "experiences affiliations"
  "experiences .";
  padding-bottom: 20px;
  gap: 20px;

  @media (max-width: $breakpoint-desktop-lg) {
    grid-template-areas: 
    "experiences"
    "education"
    "affiliations";
  }

  .experience { grid-area: experiences; }
  .education { grid-area: education; }
  .affiliations { grid-area: affiliations; }

  @include sub-header;

  .event {
    padding-left: 30px;
    padding-bottom: 30px;
    border-left: 1px solid $base-color;
    position: relative;
    .daterange {
      font-size: 14px;
      margin-bottom: 10px;
      color: $para-color;
      line-height: 1em;
      svg {
        color: $base-color;
        margin-right: 5px;
      }
    }

    .event-header {
      margin-bottom: 10px;

      .header-separator,
      .event-location {
        font-weight: bold;
      }
    }

    .event-desc {
      color: $para-color;
      line-height: 1.5;
    }

    &::before {
      content: '';
      position: absolute;
      height: 15px;
      width: 15px;
      top: 0px;
      left: -7.5px;
      border-radius: 50%;
      background-color: $base-color;
    }
  }
}